@model BabyData.BabyApi

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>BabyApi</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.UnitNo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.UnitNo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Breath)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Breath)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Crying)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Crying)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
